.page-logo-container {
  position: absolute;
  left: -15px;
  z-index: 3;
  padding: 0 44px;
  transition: opacity 0.5s ease-in;
  opacity: 1;
  height: calc(100% + 60px);

  // &.show-logo {
  //   opacity: 1;
  // }

  .logo-background {
    height: 100%;
    display: flex;
    align-items: center;
    background-color: $color-yellow;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 9px;
    padding-right: 9px;
    transition: padding-left 0.2s ease, padding-right 0.2s ease, padding-top 0.3s ease,
      padding-bottom 0.3s ease;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .page-logo-img {
    width: 140px;

    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
  }
}
@media screen and (max-width: $bp-small) {
  .page-logo-container {
    height: calc(100% + 50px);
  }
}
