.main-nav {
  display: flex;
  justify-content: space-between;
}

.nav-container {
  display: flex;
  .nav-item {
    position: relative;
  }
  .nav-link {
    font-size: 13px;
    display: block;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 700;
    white-space: nowrap;
    letter-spacing: 0.5px;
    color: $color-yellow;

    &::before {
      content: attr(data-hover);
      color: $color-white;
      position: absolute;
      transition: 0.4s ease-out;
    }
  }

  .nav-link:hover {
    &::before {
      transform: scaleX(1.2);
      opacity: 0;
    }
  }
}

@media screen and (max-width: $bp-small) {
  .nav-container {
    flex-direction: column;
    width: calc(100% - 193px);

    .nav-link {
      text-align: center;
      padding: 10px 5px;
    }
  }
}
