.nav-trigger {
  display: none;
  position: absolute;
  height: 51px;
  width: 51px;
  z-index: 999999;
  top: 197px;
  left: 90px;

  div,
  div:before,
  div:after {
    position: absolute;
    width: 40px;
    height: 4px;
    transition-timing-function: ease;
    transition-duration: 0.15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: $color-black;
  }
  div {
    pointer-events: none;
    top: auto;
    bottom: 13px;
    transition-delay: 0.13s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition-duration: 0.13s;

    &:before,
    &:after {
      display: block;
      content: "";
    }

    &:before {
      top: -10px;
      transition: top 0.12s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s,
        transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    &:after {
      top: -20px;
      transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, opacity 0.1s linear;
      bottom: -10px;
    }
  }

  &.active {
    div {
      transition-delay: 0.22s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translate3d(0, -10px, 0) rotate(-45deg);

      &:before {
        top: 0;
        transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.16s,
          transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.25s;
        transform: rotate(-90deg);
      }

      &:after {
        top: 0;
        transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s linear 0.22s;
        opacity: 0;
      }
    }
  }
}

@media screen and (max-width: $bp-small) {
  .nav-trigger {
    display: flex;
  }
}
