html {
  font-size: 62.5%;
}

body {
  font-size: 14px;
  color: $color-white;
  background-color: $color-graphite;
  line-height: 1.5;
  font-family: "PT Sans", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
input {
  font-family: "Signika", sans-serif;
}

h1 {
  font-size: 49px;
}
h2 {
  font-size: 35px;
}
h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 20px;
}

a {
  color: $color-yellow;
  text-decoration: none;
  font-size: 14px;
}

p {
  font-size: 14px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

section {
  overflow: hidden;
}
.section-wrapper {
  padding-top: 35px;
  padding-bottom: 30px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.section-title-container {
  display: flex;
}

.title,
.section-title {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}

.title {
  color: $color-white;
}
.section-title {
  letter-spacing: 2px;
  padding-bottom: 30px;
}

.subtitle {
  font-style: italic;
  color: $color-yellow;
  font-weight: 700;
}

.title-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bold-line {
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  width: 100%;
  border-radius: 4px;
  display: inline-block;
}

.wh-30 {
  width: 30%;
}

.color-yellow {
  color: $color-yellow;
}
