$bp-small: 768px;
$bp-medium: 980px;
$bp-large: 1200px;

// Typography
$font-primary: "PT Sans", sans-serif;

// Colors
$color-yellow: hsl(56, 95%, 56%);
$color-light-yellow: hsl(58, 100%, 70%);
$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);
$color-graphite: hsl(26, 13%, 10%);
