.about-us {
  &.section-wrapper {
    padding-bottom: 0;
  }

  .unchanging-description {
    margin-bottom: 20px;
    .description {
      p {
        text-align: center;
        font-size: 16px;
      }
    }
  }
  .switching-description {
    height: 200px;
    .content-wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding-left: 15px;
      padding-right: 15px;

      .description {
        position: absolute;
        top: auto;
        text-align: center;
        transition: 0.3s;
        opacity: 0;

        &.show {
          opacity: 1;
        }

        .subtitle {
          padding-bottom: 15px;
        }

        p {
          margin: 0 auto;
        }
      }
    }
  }
}
