.contact-section {
  .contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;

    .social-media {
      a {
        transition: 0.3s ease;
      }
      i {
        font-size: 26px;

        &::before {
          transition: text-shadow 0.3s ease;
          text-shadow: 0 0 $color-yellow;
        }
      }

      a:hover {
        color: $color-white;

        i::before {
          text-shadow: -11px 6px $color-yellow;
        }
      }
    }

    .tel-details {
      i {
        font-size: 20px;
      }
    }

    p {
      font-weight: bold;
      font-style: italic;
    }
    p + p {
      padding-top: 10px;
    }
  }
}
