footer {
  .copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .copyright-links {
      white-space: nowrap;
      span {
        font-weight: bold;
        font-style: italic;
        position: relative;
      }
      a {
        margin-left: 20px;
        position: relative;

        &::before {
          content: "";
          width: 1px;
          height: 20px;
          background-color: $color-yellow;
          position: absolute;
          top: calc(50% - 10px);
          left: -10px;
        }
      }
      a:hover span {
        color: $color-light-yellow;
      }
    }

    .social-media {
      i {
        font-size: 20px;

        &::before {
          transition: text-shadow 0.3s ease;
          text-shadow: 0 0 $color-yellow;
        }
      }

      a:hover {
        color: $color-white;

        i::before {
          text-shadow: -11px 6px $color-yellow;
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {
  footer {
    &.section-wrapper {
      padding-top: 25px;
      padding-bottom: 20px;
    }
    .copyright {
      flex-direction: column;

      .copyright-links {
        padding-bottom: 20px;
      }
    }
  }
}
