header {
  position: fixed;
  width: 100%;
  background-color: $color-graphite;
  border-bottom: 12px solid $color-yellow;
  z-index: 9999999;
  .header-container {
    position: relative;
  }
}

@media screen and (max-width: $bp-small) {
  header {
    width: 100%;
    transition: transform 0.25s ease-in;
    transform: translateY(calc(-100% + 12px));
    &.nav-active {
      top: 0;
      transform: translateY(0%);
    }

    .header-container {
      padding: 0px;
    }
  }
}
@media screen and (min-width: $bp-small +1) {
  header {
    transition: opacity 0.2s ease-in, transform 0.15s ease-in;
  }
  header.sticky {
    transform: translateY(-100%);
    opacity: 0;
  }
}
