.hero {
  position: relative;
  background-image: url("../../../images/room-bw.jpg");
  background-size: cover;
  background-position: 26% 50%;
  background-repeat: no-repeat;
  height: 100vh;
  border-bottom: 12px solid $color-yellow;
  z-index: -1;

  .hero-overlay {
    padding-top: 100px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: hsla(0, 0%, 11%, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-container {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    > * {
      transition: all 0.2s ease-in;
    }

    .hero-img-container {
      position: relative;
      padding-right: 60px;
      &::before {
        content: "";
        position: absolute;
        right: 30px;
        width: 5px;
        height: 100%;
        background-color: $color-yellow;
        border-radius: 4px;
      }
      .hero-img {
        width: 400px;
      }
    }

    .heading-title {
      font-weight: 700;
      text-transform: uppercase;
      font-family: "Signika", sans-serif;
      line-height: 1;
      font-size: 60px;

      p {
        font-size: inherit;
      }
      p.bigger {
        font-size: 174%;
      }
    }
  }

  .scroll-downs {
    margin: 50px;
    width: 34px;
    height: 55px;
  }

  .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }

  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
    animation-iteration-count: infinite;
  }
}

@media screen and (max-width: $bp-large) {
  .hero {
    .hero-container {
      flex-direction: column;
      .hero-img-container {
        padding-right: 0;
        padding-bottom: 60px;

        &::before {
          width: 100%;
          height: 5px;
          bottom: 30px;
          right: 0;
        }
        .hero-img {
          width: 300px;
        }
      }

      .heading-title {
        font-size: 50px;
      }
    }
  }
}

@media screen and (max-width: 630px) {
  .hero {
    .hero-container {
      .hero-img-container {
        .hero-img {
          width: 250px;
        }
      }

      .heading-title {
        font-size: 30px;
      }
    }
  }
}

@media screen and (min-width: $bp-small) {
  .hero {
    background-attachment: fixed;
  }
}
