.hours {
  background: $color-graphite;
  padding-left: 10px;
  padding-right: 10px;

  .container {
    border: 1px solid $color-white;
    border-radius: 4px;
  }
  .section-title {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 30px;
  }
  .working-days-container {
    .working-days-list {
      padding: 10px;
      width: 300px;
      margin: 0 auto;
      li {
        display: flex;
        justify-content: space-between;
        margin-bottom: 7px;
        letter-spacing: 0.5px;
      }
    }
  }

  .day,
  .hour {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
  }

  .hour {
    color: $color-light-yellow;
    padding-left: 20px;
    white-space: nowrap;
    font-style: italic;
  }
}
