.menu-section {
  background-color: $color-graphite;

  .menu-section-container {
    display: flex;
    margin: 0 -16px;
    padding-top: 16px;
    padding-bottom: 16px;
    overflow: hidden;
    flex-wrap: wrap;
  }

  .menu-container,
  .menu-sides-container,
  .logo-menu-container {
    margin-right: 16px;
    margin-left: 16px;
  }
  .menu-container,
  .menu-sides-container {
    .title-wrapper {
      margin-bottom: 15px;
    }
  }
  .logo-menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 35px;

    .section-title {
      padding-bottom: 0;
    }

    img {
      width: 100%;
      max-width: 250px;
    }
  }

  .menu-title {
    padding-left: 11px;
    padding-right: 11px;
  }
  .addition-title {
    padding-right: 11px;
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
  }
  .menu > li,
  .sides-menu > li {
    padding-left: 20px;
    padding-bottom: 7px;
  }

  .menu > li {
    width: 50%;
  }

  .menu > li::before,
  .sides-menu > li::before {
    content: "\2022";
    color: $color-yellow;
    font-weight: bold;
    display: inline-block;
    width: 10px;
    margin-left: -10px;
  }
  .menu-item {
    .item-name,
    .item-price {
      letter-spacing: 0.5px;
      font-size: 14px;
      color: $color-light-yellow;
      font-weight: 700;
      white-space: nowrap;
    }

    .item-name {
      text-transform: uppercase;
    }

    .item-ingredients {
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 0.5px;
    }
  }
}

@media screen and (max-width: $bp-small) {
  .menu-section {
    background-color: $color-graphite;

    .menu-section-container {
      flex-direction: column;
    }
    .menu > li {
      width: 100%;
    }
  }
}

@media screen and (min-width: $bp-small +1) {
  .menu-section {
    .logo-menu-container {
      width: 100%;
    }
    .menu-container {
      width: calc(75% - 32px);
    }
    .menu-sides-container {
      width: calc(25% - 32px);
    }
  }
}

@media screen and (min-width: $bp-medium) {
  .menu-section {
    .logo-menu-container {
      width: calc(25% - 32px);
      margin-bottom: 0;
    }
    .menu-container {
      width: calc(50% - 32px);
    }
    .menu-sides-container {
      width: calc(25% - 32px);
    }
  }
}

//test
.sides-line {
  margin: 16px 0px;
}
